# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Studies Udes\Session Automne\IFT 603  IFT 712 – Techniques d'apprentissage\Projet\leaf_classification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
